
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Katmanlı Port Projesi</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/w3.css" rel="stylesheet" />
    <style>
        body {
            background-image: url("/Content/ronan-furuta-daSq9zhROxY-unsplash.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .rulesLayTop {
            background-color: lightslategray;
            border: 1px solid;
            border-radius: 10px;
            box-shadow: 10px 10px 10px black;
        }

        .rulesLayMid {
            border : 1px solid;
            background-color : gray; 
        }

        .rulesLayEnd {
            background-color: cadetblue;
            margin-top: 50px;
            border: 2px solid;
            border-radius: 10px;
            box-shadow: 10px 10px 10px black;
        }

            .rulesLayEnd tr:hover {
                background-color: #788AA3;
            }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 12px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid;
            border-radius: 5px;
        }

            .pagination a.active {
                background-color: dodgerblue;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: darkslategray;
            }

        .seciliLink {
            background-color: #faa307;
        }

        .aa {
            border-radius: 5px;
            box-shadow: 10px 10px 10px black;
            background-color: cadetblue !important;
        }
            .aa:hover {
                background-color: #faa307 !important;
                transition-delay: 0.1s;
            }
        .xx{
            border-radius:10px !important;
            background-color: cadetblue !important;
        }

        .linkXx{
            color:black;
        }

            .linkXx:hover {
                background-color: #FFC107 !important;
            }
    </style>
</head>
<body>
    <div class="rulesLayTop container">
        <h3>Rules List Panel</h3>
    </div>

    <div>
        @{Html.RenderAction("List", "Category"); }

    </div>

    <div class="rulesLayEnd container">
        @RenderBody()
    </div>


    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>

</body>
</html>